<ion-header>
  <ion-toolbar><ion-icon name="arrow-round-back" routerLink="/tabs/settings" class="arrow"></ion-icon>
    <ion-title>requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="sentRequests != 1" >
      <ion-list-header>Sent Request</ion-list-header>    
          <ion-item *ngFor="let user of sentRequests" (click)="showsentrequest(user)" >
              <ion-avatar item-start>
                <img src="{{user.photo}}">
              </ion-avatar>
              <p>{{user.Name}}</p>
          </ion-item>
  </div>

  <div *ngIf="receivedRequests != 1" >
      <ion-list-header>Received Request</ion-list-header>
          <ion-item *ngFor="let user of receivedRequests" (click)="showreceivedrequest(user)">
              <ion-avatar item-start>
                <img src="{{user.photo}}">
              </ion-avatar>
              <p>{{user.Name}}</p>
          </ion-item>    
  </div>

</ion-content>
