<ion-header>
  <ion-toolbar><ion-icon name="arrow-round-back" routerLink="/tabs/settings" class="arrow"></ion-icon>
    <ion-title>requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="sentRequests" >
      <ion-list-header>Sent Request</ion-list-header>    
          <ion-item *ngFor="let user of sentRequests; let i = index" (click)="showsentrequest()"  >
              <ion-avatar item-start>
                <img src="{{user.photo}}">
              </ion-avatar>
              <p>{{user.Name}}</p>
          </ion-item>
  </div>

  <div *ngIf="receivedRequests" >
      <ion-list-header>Received Request</ion-list-header>
          <ion-item *ngFor="let user of receivedRequests; let i = index" (click)="showreceivedrequest()">
              <ion-avatar item-start>
                <img src="{{user.photo}}">
              </ion-avatar>
              <p>{{user.Name}}</p>
          </ion-item>    
  </div>

</ion-content>
