<ion-header>
  <ion-toolbar><ion-icon name="arrow-round-back" routerLink="/login" class="arrow"></ion-icon>
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content Padding>

    <div class="container">
      <ion-item>
        <ion-label position="floating"><ion-icon name="mail"></ion-icon>Email</ion-label>
        <ion-input type="email" [(ngModel)]="userDetails.Email"></ion-input>
      </ion-item>
      
      <ion-button expand="block" class="forgot" (click)="forgotpassword()" >Reset Password</ion-button>
    </div>
    
    
</ion-content>